In [2]:
import pandas as pd
#read data
df = pd.read_csv("onlinedeliverydata.csv")
print(df.head())

   Age  Gender Marital Status Occupation  Monthly Income  \
0   20  Female         Single    Student       No Income
1   24  Female         Single    Student  Below Rs.10000
2   22    Male         Single    Student  Below Rs.10000
3   22  Female         Single    Student       No Income
4   22    Male         Single    Student  Below Rs.10000

  Educational Qualifications  Family size  latitude  longitude  Pin code  \
0              Post Graduate            4   12.9766    77.5993    560001
1                   Graduate            3   12.9770    77.5773    560009
2              Post Graduate            3   12.9551    77.6593    560017
3                   Graduate            6   12.9473    77.5616    560019
4              Post Graduate            4   12.9850    77.5533    560010

  Output
0    Yes
1    Yes
2    Yes
3    Yes
4    Yes

In [3]:
df.values

array([[20, 'Female', 'Single', ..., 77.5993, 560001, 'Yes'],
       [24, 'Female', 'Single', ..., 77.5773, 560009, 'Yes'],
       [22, 'Male', 'Single', ..., 77.6593, 560017, 'Yes'],
       ...,
       [22, 'Female', 'Single', ..., 77.5533, 560010, 'Yes'],
       [23, 'Male', 'Single', ..., 77.5773, 560009, 'Yes'],
       [23, 'Male', 'Single', ..., 77.5764, 560078, 'Yes']], dtype=object)

In [4]:
#Male = 0, Female = 1
df["Gender"] = df["Gender"].map({"Male":0,"Female":1})
print(df["Gender"])

0      1
1      1
2      0
3      1
4      0
      ..
383    1
384    1
385    1
386    0
387    0
Name: Gender, Length: 388, dtype: int64

In [5]:
#Married = 0, Single = 1, Prefer not to say = 2
df["Marital Status"] = df["Marital Status"].map({"Married":0,"Single":1,"Prefer not to say":2})
print(df["Marital Status"])

0      1
1      1
2      1
3      1
4      1
      ..
383    1
384    1
385    1
386    1
387    1
Name: Marital Status, Length: 388, dtype: int64

In [6]:
#Unemployed = 0, Employed = 1
df["Occupation"] = df["Occupation"].map({"Student" : 0, "House wife" : 0, "Employee": 1, "Self Employeed" : 1})
print(df["Occupation"])

0      0
1      0
2      0
3      0
4      0
      ..
383    0
384    0
385    0
386    0
387    0
Name: Occupation, Length: 388, dtype: int64

In [7]:
#Uneducated = 0, Graduate = 1, Post Graduate = 2, Ph.D = 3, School = 4
df["Educational Qualifications"] = df["Educational Qualifications"].map({"Uneducated": 0, "Graduate": 1, 
                                                                             "Post Graduate": 2, 
                                                                             "Ph.D": 3, "School": 4})
print(df["Educational Qualifications"])

0      2
1      1
2      2
3      1
4      2
      ..
383    2
384    2
385    2
386    2
387    2
Name: Educational Qualifications, Length: 388, dtype: int64

In [8]:
#No income = 0, Below 10,000 = 1, 10001 - 25999 = 2, 25001- 50000 = 3, More than 50,000 = 4
df["Monthly Income"] = df["Monthly Income"].map({"No Income" : 0, "Below Rs.10000" : 1, "10001 to 25000" : 2,
                                                 "25001 to 50000" : 3, "More than 50000" : 4})
print(df["Monthly Income"])

0      0
1      1
2      1
3      0
4      1
      ..
383    0
384    0
385    0
386    1
387    0
Name: Monthly Income, Length: 388, dtype: int64

In [9]:
#No = 0, Yes = 1
df["Output"] = df["Output"].map({"No":0,"Yes":1})
print(df["Output"])

0      1
1      1
2      1
3      1
4      1
      ..
383    1
384    1
385    1
386    1
387    1
Name: Output, Length: 388, dtype: int64

In [10]:
df.to_csv("processed_food_delivery.csv")